{% extends "soms/base.html" %}
{% load staticfiles %}
{% block content %}
<div id="navigation_doc" style="font-size: large; text-align: left">
    <ul>
        <li><a href="#mod">Модели</a></li>
        <ul>
            <li><a href="#add_model">Добавление новой модели</a><br></li>
            <li><a href="#edit_model">Редактирование модели</a><br></li>
            <ul>
                <li><a href="#rejred">Режимы редакторов</a><br></li>
                    <ul>
                        <li><a href="#elem">Элементы управления</a></li>
                    </ul>
                <li><a href="#uzel">Добавление и удаление узлов</a><br></li>
                <li><a href="#topol">Добавление и удаление топологии </a><br></li>
                <li><a href="#svyaz">Добавление и удаление связи </a><br></li>
                <li><a href="#manage">Добавление и удаление менеджера управления </a><br></li>
            </ul>
        </ul>
        <li><a href="#nagr">Нагрузка</a><br></li>
        <ul>
           <li><a href="#add_nagr">Добавление новой нагрузки</a><br></li>
            <li><a href="#edit_nagr">Редактирование нагрузки</a><br></li>
            <ul>
                <li><a href="#red_nagr">Редактор нагрузки</a><br></li>
                    <ul>
                       <li><a href="#const_uzel">Назначение постоянной нагрузки на узлы</a><br></li>
                      <li><a href="#const_kanal">Назначение постоянной нагрузки на каналы связи</a></li>
                   </ul>
                <li><a href="#red_kl">Редактор подключений клиетов </a><br></li>
            <ul>
                    <li><a href="#vkl_otkl_kl">Установка настроек подключения и отключения пользователей</li>
                </ul>
            </ul>
            <li><a href="#modelirovanie">Запуск модели на расчет</a></li>
        </ul>
        <li><a href="#result">Просмотр результатов моделирования</a></li>
        <ul>
            <li><a href="#delete_result">Очистка результатов моделирования</a></li>
        </ul>
    </ul>
</div>
<div id="documentations" style="font-size: large; text-align: left">
  <h1><a name="mod"></a><p align="center"> Модели</p></h1>
    В разделе рассмотрены вопросы работы с моделями системы: как непосредственно создавать, редактировать, копировать или удалять модели. Какие есть инструменты для работы с моделями и другие подобные вопросы.
  <p>Модель системы - </p>
    <strong><p>Добавление модели</p></strong><a name="add_model"></a>
    <p>Для добавления новой модели перейдите на страницу моделей, нажав в пункте меню "Модели"</p>
    <p style="text-align: center"><img src="{% static "documents/123.png" %}" style="border: 3px solid #00a8e1;width: 800;"></p>
    <p>Для того чтобы добавить новую модель, нажмите "Добавить модель"</p>
    <p style="text-align: center"><img src="{% static "documents/1234.png" %}" style="border: 3px solid #00a8e1;width: 800;"></p>
    <p>Введите название модели и нажмите кнопку "Добавить"</p>
    <p style="text-align: center"><img src="{% static "documents/1.png" %}" style="border: 3px solid #00a8e1;width: 800;"></p>
    <strong><p>Редактирование модели</p></strong><a name="edit_model"></a>
    <p>После создания модели, Вас перенаправит на страницу редактирования модели. Для того, чтобы попасть в редактор моделей, нажмите название модели.</p>
    <p style="text-align: center"><img src="{% static "documents/12333.png" %}" style="border: 3px solid #00a8e1;width: 800;"></p>
    <p>Страница редактирования моделей содержит область для отображения моделей, редактор с помощью которого можно добавлять новые узлы, связи, топологии и менеджеры управления, а также кнопки переходя назад и на страницу "Нагрузки"</p>
    <p style="text-align: center"><img src="{% static "documents/3212.png" %}" style="border: 3px solid #00a8e1;width: 800;"></p>
    <p>Редактор позволяет добавлять, удалять, перемещать и изменять узлы связи </p>
    <p style="text-align: center"><img src="{% static "documents/3322.png" %}" style="border: 3px solid #00a8e1;width: 400;"></p>
    <p><strong><a name="redak"></a>Режимы редакторов</strong></p><a name="rejred"></a>
    <ul style="text-align: justify">
        <li>Режим «Редактор узлов» позволяет добавлять новые узлы в зависимости от их типа, задавать значения параметрам, перемещать, удалять и редактировать их</li>
        <li>Режим «Редактор топологии» позволяет задавать и редактировать попарные связи узлов</li>
        <li>Режим «Редактор путей» позволяет задавать и редактировать маршруты передачи мультимедийных потоков от одного узла к другому</li>
        <li>Режим «Редактор менеджеров управления» позволяет задать попарные связи узлов управления с другими узлами и редактировать их</li>
    </ul>
        <p><strong><a name="elem"></a>Элементы управления</strong></p><a name="rejred"></a>
    <ul style="text-align: justify">
        <li>Для добавления нового узла или связи нажмите кнопку "Добавить".</li>
        <li>Для изменения узла выделите узел правой кнопкой мыши и нажмите кнопку "Изменить". Для изменения связи или топологии, нажмите левой кнопкой мыши по первому узлу и правой кнопкой мыши по второму узлу и нажмите кнопку "Изменить"</li>
        <li>Для удаления элемента выделите левой или правой кнопкой мыши по элементу и нажмите кнопку "Удалить".</li>
        <li>Для перемещения элемента по карте, выделите правой кнопкой мыши по элементу и нажмите кнопку "Переместить, затем нажмите левой кнопкой мыши по области моделирования куда нужно переместить элемент, а затем еще раз нажмите кнопку "Переместить"</li>
           <li>Внизу экрана располагается кнопка для скриншота модели (P) и кнопка для того, чтобы скрыть название узлов (Т) </li>
            <p style="text-align: center"><img src="{% static "documents/321222.png" %}" style="border: 3px solid #00a8e1;width: 200;"></p>

    </ul>
       <p><strong><a name="uzel"></a>Добавление и удаление узлов</strong></p><a name="rejred"></a>
           <ul> <li>Для добавления нового узла выберите "Редактор Узлов", затем нажмите кнопку добавить и заполните форму для добавления узла.</li></ul>
        <p style="text-align: center"><img src="{% static "documents/3133.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
     <ol>
         <li>Введите название узла</li>
         <li>Выберите тип узла</li>
        <ul>
            <li><strong>Ретранслятор</strong> дублируют сигнал и передают их далее клиентам или другим мультимедийным узлам.</li>
            <li><strong>Репликатор</strong> это источники мультимедийных потоков (также могут быть ретрансляторами) </li>
            <li><strong>IP-узлы</strong> это связующие звенья между мультимедийными узлами и характеризуют внешнюю нагрузку на систему</li>
                    <p style="text-align: center"><img src="{% static "documents/33221.png" %}" style="border: 3px solid #00a8e1;width: 120;"></p>
                            <li><strong>Узел-квадрат(репликатор)</strong> может создавать на основе входящего - новые потоки внутри себя и потом от них передавать в другие узлы</li>
                            <li><strong>Узел-круг(ретранслятор)</strong> не могут создавать потоков, они только передают те потоки, которые в них вошли.</li><br>
        </ul>
         <li>Является ли узел менеджером управления</li>
         <li>Введите IP-адрес узла(каждый узел должен иметь уникальный IP-адрес)</li>
         <li>Укажите максимальную пропускную способность входящего и исходящего канала</li>
         <li>Введите максимальный объём памяти, объем ресурсов процессора и популярность узла </li>
         <li>Нажмите левой кнопкой мыши по нужной части области моделирования или введите координаты где будет распологаться узел</li>
         <li>После заполнения формы, нажмите кнопку "Добавить"</li>
         <li>Кнопка "Заполнить", заполняет форму данными по-умолчанию</li>
    </ol>
              <ul> <li>Для удаления узла выделите правой кнопкой узел и нажмите кнопку "Удалить"</li></ul>
        <p style="text-align: center"><img src="{% static "documents/788.png" %}" style="border: 3px solid #00a8e1;width: 400;"></p>

       <p><strong><a name="topol"></a>Добавление и удаление топологии</strong></p><a name="rejred"></a>
       <ul> <li>Для добавления новой топологии выберите "Редактор Топологии", затем выделите левой кнопкой мыши первый узел и правой кнопкой мыши второй узел и нажмите кнопку "Добавить" и заполните форму для добавления топологии.</li></ul>
        <p style="text-align: center"><img src="{% static "documents/9999.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
        <ol>
            <li>Введите ширину канала для связи </li>
            <li>Нажмите кнопку "Добавить"</li>
        </ol>
                  <ul> <li>Для удаления топологии выделите правой кнопкой первый узел и левой кнопкой мыши второй узел и нажмите кнопку "Удалить"</li></ul>

       <p><strong><a name="svyaz"></a>Добавление и удаление связей</strong></p><a name="rejred"></a>
        <p>Для добавления новой связи выберите "Редактор Путей", затем выделите левой кнопкой мыши первый узел и правой кнопкой мыши второй узел и нажмите кнопку "Добавить" и заполните форму для добавления связи.</p>
        <p style="text-align: center"><img src="{% static "documents/9898.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
      <ol>
            <li>Введите название связи</li>
            <li>Выберите поток-родитель</li>
          <ul>
              <li>Для добавления потока-родителя, нужно сделать связь внутри узла (связь внутри узла можно делать только для репликатора(круг-квадрат))</li>
                    <ol>
                        <li>Выделите левой кнопкой мышки первый узел и правой кнопкой мыши второй узел и нажмите кнопку "Добавить" связь</li>
                        <li>Заполните информацию по связи</li>
                        <li>Нажмите кнопку "Добавить"</li>
                    </ol>
          </ul>
            <li>Укажите качество связи и занимаемую пропускную способность связи</li>
            <li>Нажмите кнопку "Добавить"</li>
        </ol>
                  <ul> <li>Для удаления топологии выделите правой кнопкой первый узел и левой кнопкой мыши второй узел и нажмите кнопку "Удалить"</li></ul>
       <p><strong><a name="manage"></a>Добавление и удаление менеджера управления</strong></p><a name="rejred"></a>
                    <ul>
                        <li>TBD</li>
                    </ul>
  <h1><a name="nagr"></a><p align="center"> Нагрузка</p></h1>
    <p>В разделе рассмотрены вопросы работы с нагрузкой: как непосредственно создавать, редактировать, копировать или удалять нагрузку. Какие есть инструменты для работы с нагрузками и другие подобные вопросы.</p>
<p>Нагрузка -</p>
<p><strong><a name="add_nagr"></a>Добавление новой нагрузки</strong></p>
    <ul>
        <p style="text-align: center"><img src="{% static "documents/3211.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
        <li>Для добавления новой нагрузки нажмите кнопку "Добавить нагрузку"</li>
          <p style="text-align: center"><img src="{% static "documents/9777.png" %}" style="border: 3px solid #00a8e1;width: 350;"></p>
    </ul>
    <ol>
        <li>Выберите модель для которой нужно добавить нагрузку</li>
        <li>Введите название</li>
        <li>Укажите количество шагов</li>
        <li>Выберите алгоритм работы при перегрузке</li>
        <li>Выберите как будет моделироваться статистика</li>
        <li>Нажмите кнопку "Добавить"</li>
    </ol>
<p><strong><a name="edit_nagr"></a>Редактирование нагрузки</strong></p>
<p>После создания модели, Вас перенаправит на страницу редактирования модели. Для того, чтобы попасть в редактор моделей, нажмите название нагрузки.</p>
        <p style="text-align: center"><img src="{% static "documents/4444.png" %}" style="border: 3px solid #00a8e1;width: 800;"></p>
<p>Страница редактирования нагрузки содержит область для отображения моделей, редактор с помощью которого можно добавлять новую нагрузку на узел,а также кнопки перехода назад и на моделирование нагрузки
        <p style="text-align: center"><img src="{% static "documents/111.png" %}" style="border: 3px solid #00a8e1;width: 800;"></p>
 <p><strong><a name=""></a>Добавление и удаление нагрузки с помощью Редактора Нагрузки</strong></p><a name="rejred"></a>
           <ul> <li><a name="const_uzel"></a>"Для добавления новой нагрузки на узел выберите "Редактор Нагрузки", затем выделите узел правой кнопкой мыши и нажмите кнопку добавить и заполните форму для добавления нагрузки.</li></ul>
        <p style="text-align: center"><img src="{% static "documents/7878.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
<ol>
    <li>Выберите Редактор Нагрузки</li>
    <li>Выделите правой кнопкой мыши нужный узел и нажмите кнопу "Добавить"</li>
    <li>Введите название нагрузки и необходимые данные</li>
    <li>Нажмите кнопку "Добавить"</li>
</ol>

          <ul> <li><a name="const_kanal"></a>Для добавления новой нагрузки на канал связи выберите "Редактор Нагрузки", затем выделите канал связи правой кнопкой мыши и нажмите кнопку добавить и заполните форму для добавления нагрузки.</li></ul>
        <p style="text-align: center"><img src="{% static "documents/3232.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
<ol>
    <li>Выберите Редактор Нагрузки</li>
    <li>Выделите правой кнопкой мыши нужный канал связи и нажмите кнопу "Добавить"</li>
    <li>Введите название нагрузки и необходимые данные</li>
    <li>Нажмите кнопку "Добавить"</li>
</ol>

<p><strong><a name="red_kl"></a>Редактор подключений клиентов</strong></p>
<ul><li><a name="vkl_otkl_kl"></a>Установка настроек подключения и отключения пользователей</li>
<li>TBD</li></ul>
<p><strong><a name="modelirovanie"></a>Запуск модели на расчет</strong></p>
<p>Для начала моделирования модели и нагрузки нажмите кнопку "Далее" в редакторе нагрузки или на главной странице нагрузки</p>
    <ul>
        <li>В редакторе нагрузки</li>
            <p style="text-align: center"><img src="{% static "documents/1010.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
         <li>На странице нагрузки</li>
 <p style="text-align: center"><img src="{% static "documents/1011.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>
    </ul>
  <h1><a name="result"></a><p align="center">Просмотр результатов моделирования</p></h1>
    <p>Для просмотра результатов моделирования нажмите в пункте меню кнопку "Статистика" и на необходимой нагрузке нажмите кнопку "Просмотр"</p>
     <p style="text-align: center"><img src="{% static "documents/2211.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>

<p><strong><a name="delete_result"></a>Очистка результатов моделирования</strong></p>
<p>Для очистки результатов моделирования нажмите кнопку "Удалить"</p>
     <p style="text-align: center"><img src="{% static "documents/5454.png" %}" style="border: 3px solid #00a8e1;width: 600;"></p>

</div>
{% endblock %}

