{% load i18n %}
<head>
<style>
body, button, input, table {
 	font-size: 11px;
	font-family: Sans-serif;
}
th, td {
	padding: 3px 10px;
}

a {
	text-decoration: none;
}
</style>
</head>
<body>
<h2>Статистика</h2>
{% if routes_stat %}
<table border=1>
	<tr>
	  <th>Шаг</th>
	  <th>Маршрут</th>
	  <th>Пропускная способность</th>
	</tr>
    {% for route_stat in routes_stat %}
	<tr>
	<td>{{ route_stat.step }}</a></td>
	<td>{{ route_stat.route }}</td>
	<td>{{ route_stat.bandwidth }}</td>
	</tr>
    {% endfor %}
</table>
{% else %}
    <p>Статистика отсутствует</p>
{% endif %}
</body>
